<main class='p-3'>
  {{! <h3 class='my-5'>Selector 1 parte</h3>

  <div class='p-5 box'>
    <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
    <h6>Hola mundo</h6>
    <h1 style='color: brown'>USB хаб Type C 12 в 1 HDMI VGA
      AUX 3.5 mm</h1>
    <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
    <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
    <h1 style='color: black'>USB хаб Type C 12 в 1 HDMI VGA
      AUX 3.5 mm</h1>

    <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
    <h2>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h2>
    <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
    <h1 id='user'>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>

    <button type='button' class='button'>Купити</button>

    <p class='my-5'>This is text</p>
  </div>

  <h3 class='my-5 p-5'>Selector 2 parte</h3>

  <div class='card m-3 p-3 card-dark'>
    <ul>
      <li class='item'>Item </li>
      <li class='item'>Item 2</li>
      <li class='item'>Item 3</li>
      <li class='item'>Item 4</li>
      <li class='item'>Item 5</li>
    </ul>
  </div>

  <div class='card m-3 p-3 card-dark'>
    <ul>
      <li class='item'>Item </li>
    </ul>
  </div>
  <div class='card m-3 p-3 card-dark'>
    <div>
      <b>Item </b>
      <article>Item 2</article>
      <p>Item 3</p>
      <p>Item 4</p>
      <div>Item 5</div>
    </div>
  </div>
  <div class='card m-3 p-3 card-dark'>

    <p class='item'>Item </p>
    <b class='item'>Item 2</b>
    <em class='item'>Item 3</em>
    <b class='item'>Item 4</b>
    <p class='item'>Item 5</p>

  </div>
  <div class='card m-3 p-3 card-dark'>

    <p class='item'>Item </p>
    <b class='item'>Item 2</b>
    <em class='item'>Item 3</em>
    <b class='item'>Item 4</b>
    <p class='item'>Item 5</p>

  </div>
  <div class='card m-3 p-3 card-dark'>

    <p>Item 1</p>
    <b class='item'>Item 2</b>
    <em class='item'>Item 3</em>
    <b class='item'>Item 4</b>
    <p class='item'>Item 5</p>

  </div>
  <div class='card m-3 p-3 card-dark'>

    <p></p>
    <b class='item'>Item 2</b>
    <em class='item'>Item 3</em>
    <b class='item'>Item 4</b>
    <p class='item'>Item 5</p>

  </div>
  <h2 class='my-5'>Selector 3 parte</h2>

  <div class='card m-3 p-3 card-dark'>
    <input class='input-dark' required />
    <input class='input-dark' />
    <input class='input-dark' type='number' />
  </div>

  <div class='card m-3 p-3 card-dark'>
    <img
      alt='image small card'
      class='small-img'
      src='https://picsum.photos/200/300'
      height='200px'
    />
    <a
      href='https://picsum.photos/200/300'
      rel='external'
    >Link</a>
    <br />
    <button class='btn'>Click me!</button>
    <br />
    <a
      class='btn btn-secondary'
      href="'https://picsum.photos/200/300'"
    >Click me!</a>
    <br />
    <a
      class='btn btn-secondary big'
      href="'https://picsum.photos/200/300'"
    >Apunta me!</a>
    <br />
  </div>
  <div class='card m-3 p-3 card-dark'>
    <p class='big-text'>This is text about the info in this
      temario, info about css and more things</p>
    <br />
    <input class='input-dark' placeholder='This is text' />
  </div> }}
  <h2 class='my-5'>Selectors 7 part псевдокласи</h2>

  <div lang='fr' class='card m-3 p-3 card-dark'>
    <a
      class='send'
      href='https://search.google.com/test/mobile-friendly'
    >Click me</a>
    <span>Bonjour!Comment ca va?</span>
  </div>

  <div lang='en' id='test' class='card m-3 p-3 card-dark'>
    Якір
  </div>
  <div id='test' class='card m-3 p-3 card-dark'>
    <input />
  </div>
  <div class='m-3 p-3 card-dark'>
    <button>Test button</button>
    <button disabled>Disabled button</button>
  </div>
  <div class='m-3 p-3 card-dark'>
    <input class='inp' />
    <input readonly />
    <div class='mt-3 mb-3 ms-3'>
      <input type='checkbox' checked />
      <span>First checkbox</span>
    </div>
    <div class='mt-3 mb-3 ms-3'>
      <input type='checkbox' />
      <span>Second checkbox</span>
    </div>
  </div>
  <div class='m-3 p-3 card-dark'>
    <div>
      <input
        type='email'
        required
        class='valid'
        placeholder='test'
      /><span>Test test</span>
    </div>
    <input type='email' class='valid' />
    <div class='mt-3'>
      <input
        type='number'
        min='10'
        max='20'
        required
        class='number'
      />
    </div>

  </div>

</main>