
    <div class='hero_block'>
        {{> heroDark}}
    </div>

    <div class="about_block">
        {{> aboutDark}}
    </div>

    <div class="articles_block">
        <div class="articles_inline">Our articles</div>
        <div class="articles_column">
           {{> cardDark}}
        </div>
    </div>

    {{#with footer}}
        <div class="footer_block">
            {{#each pages}}
                <div class="footer_pages">
                    <a href="{{path}}" class="footer_links">{{name}}</a>
                </div>
            {{/each}}

            <div class="footer_copyright_block">
                <p class="footer_copyright">{{copyright}}</p>
            </div>
        </div>
    {{/with}}